<form (ngSubmit)="f.valid && send(f)" #f="ngForm" autocomplete="off" class="textCenter">
    <input type="text" class="form-control topmargin" id="header" placeholder="Header" required #header="ngModel" ngModel name="header">
    <input type="text" class="form-control topmargin" id="body" placeholder="Body" required #body="ngModel" ngModel name="body">
    <select class="form-control topmargin selectbox" id="category" [(ngModel)]="categorySelected" name="category" required>
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
    <input type="submit" [disabled]="!f.valid" class="topmargin" value="Send Notification">

</form>
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>