table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-y: auto;
    height: 30vh;
}

.table-responsive::-webkit-scrollbar {
    width: 5px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .26);
}

.mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

.mat-row,
.mat-header-row {
    display: table-row;
}

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}

.custom-style-paginator-select>mat-option:last-child:before {
    content: "All";
    float: left;
    text-transform: none;
    top: 4px;
    position: relative;
}

.custom-style-paginator-select>mat-option:last-child .mat-option-text {
    display: none;
    position: relative;
}

.myMatOptions {
    position: absolute;
    top: 30vh;
    left: 30vw;
}

.cdk-overlay-container {
    left: 30vw;
}

::ng-deep .cdk-overlay-pane {
    left: 0 !important;
    transform: none !important;
}

::ng-deep .mat-select-panel {
    left: 0
}


/* ::ng-deep .mat-select-panel {
    position: fixed;
    height: 300px;
    width: 100%;
} */


/* .mat-select-panel-wrap {
    margin-top: -20.7% !important;
    margin-left: 59.1% !important;
} */