<mat-card style="width: 59%;
    margin: 20%;
    margin-top: 10%;">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Header">
                <th mat-header-cell *matHeaderCellDef> Header </th>
                <td mat-cell *matCellDef="let element"> {{element.header}} </td>
            </ng-container>

            <ng-container matColumnDef="Body">
                <th mat-header-cell *matHeaderCellDef> Body </th>
                <td mat-cell *matCellDef="let element"> {{element.body}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td *matCellDef="let element" style="    border-bottom-width: 1px;
    border-bottom-style: solid;     border-bottom-color: rgba(0,0,0,.12);">
                    <button style="border: 0; background: white;" (click)="onDelete(element._id)"><mat-icon>delete</mat-icon>
                </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</mat-card>