<h3 matLine class="textCenter"> Notifications </h3>
<input placeholder="Filter..." class="form-control" (keyup)="applyFilter($event.target.value)">
<br>
<div class="table-responsive">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Header">
            <th mat-header-cell *matHeaderCellDef> Header </th>
            <td mat-cell *matCellDef="let element ">
                <div *ngIf="editField && editId == element._id; else elseBlock">
                    <input placeholder="Header" name="header" [(ngModel)]="headerField">
                </div>
                <ng-template #elseBlock>{{element.header}}</ng-template>
            </td>

        </ng-container>

        <ng-container matColumnDef="Body">
            <th mat-header-cell *matHeaderCellDef> Body </th>
            <td mat-cell *matCellDef="let element ">
                <div *ngIf="editField && editId == element._id; else elseBlockBody">
                    <input placeholder="Body" name="body" [(ngModel)]="bodyField">
                </div>
                <ng-template #elseBlockBody>{{element.body}}</ng-template>
            </td>

        </ng-container>

        <ng-container matColumnDef="Type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element ">
                <div *ngIf="editField && editId == element._id; else elseBlockType">
                    <select class="form-control" id="category" [(ngModel)]="typeField" name="category">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
                </div>
                <ng-template #elseBlockType>{{element.type}}</ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element ">
                <ng-container *ngIf="editField && editId == element._id; else elseAction">
                    <button class="internalbutton" matTooltip="Update" (click)="updateEdit()"><mat-icon>done</mat-icon></button>
                    <button class="internalbutton" matTooltip="Cancel" (click)="cancelEdit()"><mat-icon>close</mat-icon></button>
                </ng-container>
                <ng-template #elseAction>
                    <button class="internalbutton" (click)="onDelete(element._id) "><mat-icon>delete</mat-icon>
                    </button>
                    <button class="internalbutton" (click)="editRow(element._id, element.header, element.body, element.type) "><mat-icon>mode_edit</mat-icon>
                        </button>
                </ng-template>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>

</div>
<div class="custom-style-paginator-select">
    <mat-paginator #paginator pageSize="5" showFirstLastButtons></mat-paginator>
</div>