<mat-card>

    <h3 matLine style="text-align: center"> Notifications </h3>
    <input placeholder="Filter..." class="form-control" (keyup)="applyFilter($event.target.value)">
    <br>
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="Header">
                <th mat-header-cell *matHeaderCellDef> Header </th>
                <td mat-cell *matCellDef="let element ">
                    <div *ngIf="editField && editId == element._id; else elseBlock">
                        <!-- <mat-form-field appearance="legacy"> -->
                        <input placeholder="Header" name="header" [(ngModel)]="headerField">
                        <!-- </mat-form-field> -->
                    </div>
                    <ng-template #elseBlock>{{element.header}}</ng-template>
                </td>

            </ng-container>

            <ng-container matColumnDef="Body">
                <th mat-header-cell *matHeaderCellDef> Body </th>
                <td mat-cell *matCellDef="let element ">
                    <div *ngIf="editField && editId == element._id; else elseBlockBody">
                        <!-- <mat-form-field appearance="fill"> -->
                        <input placeholder="Body" name="body" [(ngModel)]="bodyField">
                        <!-- </mat-form-field> -->
                    </div>
                    <ng-template #elseBlockBody>{{element.body}}</ng-template>
                </td>

            </ng-container>

            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element ">
                    <div *ngIf="editField && editId == element._id; else elseBlockType">
                        <!-- <mat-form-field appearance="fill">
                            <mat-select [(value)]="typeField">
                                <mat-option *ngFor="let category of categories" [value]="category">{{ category }}</mat-option>
                            </mat-select>
                        </mat-form-field> -->
                        <!-- <label for="category">Category</label> -->
                        <select class="form-control" id="category" [(ngModel)]="typeField" name="category">
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
                    </div>
                    <ng-template #elseBlockType>{{element.type}}</ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="Actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element ">
                    <ng-container *ngIf="editField && editId == element._id; else elseAction">
                        <button mat-raised-button color="accent" matTooltip="Update" class="mr-10 mb-6 " (click)="updateEdit()"><mat-icon>done</mat-icon></button>
                        <button mat-raised-button color="warn" matTooltip="Cancel" (click)="cancelEdit()"><mat-icon>close</mat-icon></button>
                    </ng-container>
                    <ng-template #elseAction>
                        <button style="background: white;" (click)="onDelete(element._id) "><mat-icon>delete</mat-icon>
                    </button>
                        <button style="background: white;" (click)="editRow(element._id, element.header, element.body, element.type) "><mat-icon>mode_edit</mat-icon>
                        </button>
                    </ng-template>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
        </table>

    </div>
    <div class="custom-style-paginator-select">
        <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
        <mat-paginator #paginator pageSize="5" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>