<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" *ngIf="isUserAuthenticated" opened role="navigation">
        <mat-nav-list>
            <a mat-list-item (click)="onNotify()" [ngClass]="{
                            'positive' : showform,
                            'negative' : !showform}">
                Send Notifications</a>
            <a mat-list-item (click)="onDashboard()" [ngClass]="{
                             'positive' : shownotifications,
                            'negative' : !shownotifications
                         }">Dashboard</a>
            <a mat-list-item (click)="onLogout()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: 30%;">
        <app-send-notifications *ngIf="showform"></app-send-notifications>
        <app-dashboard *ngIf="shownotifications"></app-dashboard>
    </mat-sidenav-content>
</mat-sidenav-container>