<mat-sidenav-container class="example-container" fullscreen>
    <!-- <mat-sidenav #drawer mode="side" *ngIf="isUserAuthenticated" opened role="navigation"> -->
    <!-- <ng-template > -->
    <mat-sidenav *ngIf="(authState | async).authenticated" #drawer mode="side" opened role="navigation">

        <mat-nav-list style="overflow: hidden;">
            <a mat-list-item (click)="onNotify()" [ngClass]="{
                            'positive' : showform,
                            'negative' : !showform}">
                Send Notifications</a>
            <a mat-list-item (click)="onDashboard()" [ngClass]="{
                             'positive' : shownotifications,
                            'negative' : !shownotifications
                         }">Dashboard</a>
            <a mat-list-item (click)="onLogout()">Logout</a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- </ng-template> -->
    <mat-sidenav-content>
        <button *ngIf="toggleRequired" mat-button style="border: none; background: none;;" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <mat-card>
            <app-send-notifications *ngIf="showform"></app-send-notifications>
            <app-dashboard *ngIf="shownotifications"></app-dashboard>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>